<div class="contextual">
<%= link_to l(:button_edit), {:controller => 'local_workflows', :action => 'edit', :project_id => @project}, :class => 'icon icon-edit' %>
<%= link_to l(:button_copy), copy_project_local_workflows_path(@project), :class => 'icon icon-copy' %>
<%= link_to l(:field_summary), project_local_workflows_path(@project), :class => 'icon icon-summary' %>
</div>
